<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Something to do around me!! [heroku-salesforce-mulesoft]</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="ghost-button" value="Search Social Event">
        </form>

        
        <% if(weather != undefined){ %>
          <table class="weathertable">
            <tr>
              <td><img src="/images/weather.png" /></td>
              <td><%= weather %></td>
            </tr>
          </table>
          
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
    <% if(events != undefined){ %>
    <table>
            <caption>Available Social Events</caption>
            <thead>
              <tr>
                <th scope="col">Event Date</th>
                <th scope="col">Name</th>
                <th scope="col">Duration</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
                    <% events.rows.forEach(function(r) { %>
                <tr>
                  <td data-label="Event Date"><%= r.event_date__c %> </td>
                  <td data-label="Name"><%= r.name__c %> </td>
                  <td data-label="Duration"><%= r.duration__c %>  </td>
                  <td data-label="Description"><%= unescape(r.description__c) %> </td>
                </tr>

                <% }); %>
            </tbody>
        </table>
    <%}%>
  </body>
</html>